@include tablet {
    .iconos-nosotros {
        @include mediaGrid(200px, 2rem);
    }
}


.icono{
    text-align: center;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
}